<div class="row">
    <div [className]="isSidePanelVisible ? 'col-8':'col-12'" >
        <div class="card">
            <div class="card-header bg-success">
                <div class="row">
                    <div class="col-6">
                        Car List
                    </div>
                    <div class="col-6 text-end">
                        <button class="btn btn-primary" (click)="isSidePanelVisible = true">Add new</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Sr No</th>
                            <th>Car</th>
                            <th>Per Hr Rate</th>
                            <th>Per Day Rate</th>
                            <th>Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of carList; track item.carId;let sr = $index) {
                            <tr>
                                <td>{{sr+1}}</td>
                                <td> {{item.carName}}</td> 
                                <td> {{item.ratePerHr}}</td>
                                <td> {{item.ratePerDay}}</td>
                                <td>
                                    <img [src]="item.carImage" style="width: 50px;height: 50px;"/>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    @if (isSidePanelVisible) {
        <div class="col-4">
            <div class="card">
                <div class="card-header bg-success">
                    <div class="row">
                        <div class="col-6">
                            New Car
                        </div>
                        <div class="col-6 text-end">
                            <button class="btn btn-primary" (click)="isSidePanelVisible = false">Close</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <label for="">Car Name</label>
                            <input type="text" [(ngModel)]="carObj.carName" class="form-control" >
                        </div>
                        <div class="col-6">
                            <label for="">Image Url</label>
                            <input type="text" [(ngModel)]="carObj.carImage" class="form-control" >
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="">Per Hr/Rate</label>
                            <input type="number" [(ngModel)]="carObj.ratePerHr" class="form-control" >
                        </div>
                        <div class="col-6">
                            <label for="">Per Day/Rate</label>
                            <input type="number" [(ngModel)]="carObj.ratePerDay" class="form-control" >
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col-6  text-center">
                            <button class="btn btn-secondary" (click)="onReset()">Reset</button>
                        </div>
                        <div class="col-6 text-center">
                            <button class="btn btn-success" (click)="onSaveCar()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>